<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:name=".Smeem"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_smeem"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_smeem_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Smeem"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".presentation.mypage.DisplayTrainingGoalActivity"
            android:exported="false" />
        <!-- Splash -->
        <activity
            android:name=".presentation.splash.SplashStartActivity"
            android:exported="true"
            android:theme="@style/Theme.Smeem.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.splash.SplashLoginActivity"
            android:exported="false" />

        <!-- OnBoarding-->
        <activity
            android:name=".presentation.onboarding.OnBoardingActivity"
            android:exported="false" />

        <!-- Join -->
        <activity
            android:name=".presentation.join.JoinWithNicknameActivity"
            android:exported="false"
            android:windowSoftInputMode="adjustResize|stateAlwaysVisible" />

        <activity
            android:name=".presentation.join.JoinWithAgreementActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.detail.DiaryEditActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".presentation.detail.DiaryDetailActivity"
            android:exported="false" />
        <activity
            android:name=".presentation.write.foreign.ForeignWriteActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".presentation.write.natiive.NativeWriteStep2Activity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name=".presentation.write.natiive.NativeWriteStep1Activity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize" />
        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="kakao${KAKAO_API_KEY}" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.mypage.ChangingNicknameActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"  />

        <activity
            android:name=".presentation.mypage.MyPageActivity"
            android:exported="false" />

        <activity
            android:name=".presentation.mypage.MyBadgesActivity"
            android:exported="false">

        </activity>

        <activity
            android:name=".presentation.mypage.EditTrainingGoalActivity"
            android:exported="false">


        </activity>

        <activity
            android:name=".presentation.home.HomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />

    </application>

</manifest>